@font-face {
    font-family: 'Gilroy-Bold ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Bold ☞'), url('../fonts/Gilroy-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Heavy ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Heavy ☞'), url('../fonts/Gilroy-Heavy.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Light ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Light ☞'), url('../fonts/Gilroy-Light.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Medium ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Medium ☞'), url('../fonts/Gilroy-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Gilroy-Regular ☞';
    font-style: normal;
    font-weight: normal;
    src: local('Gilroy-Regular ☞'), url('../fonts/Gilroy-Regular.woff') format('woff');
}
/* Regular Weight */
@font-face {
    font-family: "Product Sans";
    src: url("../fonts/Product Sans Regular.ttf");
}

/* Bold Weight */
@font-face {
    font-family: "Product Sans";
    src: url("../fonts/Product Sans Bold.ttf");
}

/* Bold italic Weight */
@font-face {
    font-family: "Product Sans";
    src: url("../fonts/Product Sans Italic.ttf");
}
/* regular Weight */
@font-face {
    font-family: "Product Sans";
    src: url("../fonts/Product Sans Regular.ttf");
}
/*default*/
:root{
    --primary-blue:#0A0951;
    --secondary-yelllow:#F4A640;
    --para-color:#555185
}
* {
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Product Sans', serif;
    font-weight:normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: inherit;
    transition: inherit;
    vertical-align: baseline;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-blue);
    font-family: 'Gilroy-Bold ☞', serif;
}
p{
    margin: 0;
    padding: 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

a,
button {
    cursor: pointer;
    display: inline-block;
    appearance: none;
    background: none;
    border:none
}
input{
    appearance: none;
    border: none;
}
input:focus{
    outline: none;
}
img {
    max-width: 100%;
}
.container-x{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}
.btn-yellow {
    background: var(--secondary-yelllow);
    font-family: 'Gilroy-Bold ☞', serif;
    font-size: 16px;
    font-weight: 800;
    border-radius: 6px;
    transition: color 0.4s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 9;
}
.btn-yellow::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #ffa72c;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.btn-yellow:hover {
    cursor: pointer;
    color: #161616;
}

.btn-yellow:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}
.book-now-btn{
    width: 164px;
    height: 72px;
}
/*hero*/
.header-wrapper{
    width: 100%;
    height: 1056px;
    position:relative;
    display: flex;
    align-items: center;
}
.nav-wrapper-main{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.header-wrapper .nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 214px;
    position: relative;
}
.header-wrapper .nav-wrapper .logo{
    position: absolute;
    left: calc(50% - 144px);
    top: 0;
}
.header-wrapper .nav-wrapper :is(.first-nav-wrapper .fnav-items-wrapper, .second-nav-wapper .snav-items-wrapper){
    display: flex;
}
.header-wrapper .nav-wrapper :is(.first-nav-wrapper .fnav-items-wrapper .nav-item, .second-nav-wapper .snav-items-wrapper .nav-item){
    padding: 20px 20px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;

}
.header-wrapper .nav-wrapper :is(.first-nav-wrapper .fnav-items-wrapper .nav-item:hover, .second-nav-wapper .snav-items-wrapper .nav-item:hover){
    padding: 20px 20px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
    border-bottom-color: white;
    transition: all 0.5s ease;
}
.header-wrapper .nav-wrapper .second-nav-wapper{
    display: flex;
}
.header-wrapper .nav-wrapper .second-nav-wapper .book-now-btn{
    margin-left: 30px;
}
.header-wrapper .nav-wrapper .first-nav-wrapper .fnav-items-wrapper .nav-item:first-child{
    padding-left: 0;
}
.header-wrapper .hero-section-wrapper{
    width: 100%;
    display: flex;
    justify-content: end;
    padding:0 214px;
    background-image: url("../image/hero-bg-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    align-items: center;
}
.header-wrapper .hero-section-wrapper .content-wrapper h1{
    font-weight: 800;
    font-size: 70px;
    line-height: 82px;
    margin-bottom:40px ;
}
.header-wrapper .hero-section-wrapper .content-wrapper p{
    font-weight: 400;
    font-size: 22px;
    color: var(--primary-blue);
    margin-bottom:20px ;
}
.search-wrapper .tab-btn-wrap{
    width: 170px;
    height: 40px;
    border-radius: 4px 4px 0 0;
    display: flex;
    overflow: hidden;
}
.search-wrapper .tab-btn-wrap .tab-btn{
    width: 50%;
    font-family: 'Gilroy-Light ☞', serif;
    font-size: 16px;
    background: var(--secondary-yelllow);
    opacity: 0.54;
    color: var(--primary-blue);
}
.search-wrapper .tab-btn-wrap .tab-btn.active{
    font-family: 'Gilroy-bold ☞', serif;
    opacity: 100;
}
.search-wrapper .search-bar{
    width: 534px;
    height: 80px;
    background: white;
    border-radius: 0 4px 4px 4px;
    overflow: hidden;
    position: relative;
}
.search-wrapper .search-bar .search-input{
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 10px 90px 10px 25px;
}
.search-wrapper .search-bar .search-input::placeholder{
    opacity: 0.6;
    font-weight: 400;
}
.search-wrapper .search-bar .search-btn{
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 4px;
    width: 72px;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-yelllow);
}
.car-booking-step-wrapper{
    width: 100%;
    padding: 70px 0;
}
.car-booking-step-wrapper .section-title{
    margin-bottom: 50px;
}
.car-booking-step-wrapper .section-title h1{
    font-weight: 800 !important;
    font-size: 46px;
    color: var(--primary-blue);
    text-align: center;
    margin-bottom: 10px;
}
.car-booking-step-wrapper .section-title p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: var(--para-color);
}
.car-booking-step-wrapper .step-wrapper .step-item{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 600px;
}
.car-booking-step-wrapper .step-wrapper .step-item.item-1{
    background-image: url("../image/gradient-bg-1.png");
}
.car-booking-step-wrapper .step-wrapper .step-item.item-2{
    background-image: url("../image/gradient-bg-2.png");
}
.car-booking-step-wrapper .step-wrapper .step-item.item-3{
    background-image: url("../image/gradient-bg-3.png");
}
.car-booking-step-wrapper .step-item .item-image{
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.car-booking-step-wrapper .step-item .item-image img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.car-booking-step-wrapper .step-item .item-content{
    padding: 0 30px;
}
.car-booking-step-wrapper .step-item .item-content  h1{
    font-weight: 800 !important;
    font-size: 24px;
    margin-bottom: 20px;
}
.car-booking-step-wrapper .step-item .item-content ul li{
    display: flex;
    align-items: center;
    gap: 5px;
}
.car-booking-step-wrapper .step-item.item-1 .item-content ul li .icon{
    color: #F95A5A;
}
.car-booking-step-wrapper .step-item.item-2 .item-content ul li .icon{
    color: #FAB726;
}
.car-booking-step-wrapper .step-item.item-3 .item-content ul li .icon{
    color: #2BC48A;
}
.car-booking-step-wrapper .step-item .item-content ul li .icon svg{
    fill: currentColor;
}
.car-booking-step-wrapper .step-item .item-content ul li p{
    font-size: 18px;
    color: var(--para-color);
    line-height: 40px;
}
.car-driving-test-main-wrapper{
    width: 100%;
    height: 850px;
    background-image:url("../image/driving-test-bg.png") ;
    background-repeat: no-repeat;
    background-size: contain;
}
.car-driving-test-main-wrapper .thumbnil-wrapper .img-wrapper img{
    position: absolute;
    left: -150px;
    top: -230px;
    transform: scale(1.4);
}
.car-driving-test-main-wrapper .content-wrapper .test-pkg-btn{
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--primary-blue);
}
.car-driving-test-main-wrapper .content-wrapper h1{
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 30px;
}
.car-driving-test-main-wrapper .content-wrapper ul{
    margin-bottom: 45px;
}
.car-driving-test-main-wrapper .content-wrapper ul li{
    display: flex;
    gap: 13px;
    align-items: center;
    margin-bottom: 10px;
}
.car-driving-test-main-wrapper .content-wrapper ul li .icon{}
.car-driving-test-main-wrapper .content-wrapper ul li .title{
    font-size: 22px;
    display: inline-block;
    color: var(--primary-blue);
}
.car-driving-test-main-wrapper .content-wrapper .section-btn{
    margin-bottom: 12px;
}
.car-driving-test-main-wrapper .content-wrapper p{
    font-size: 16px;
    color: var(--para-color);
    line-height: 29px;
}
.why-choose-section-main-wrapper{
    background-image: url("../image/choose-section-bg.png");
    background-repeat: no-repeat;
    padding: 70px 0;
}
.why-choose-section-main-wrapper .content-wrapper h1{
    font-size: 46px;
    line-height: 48px;
    font-weight: bold;
    color: var(--primary-blue);
    margin-bottom: 16px;
}
.why-choose-section-main-wrapper .content-wrapper .small-title{
    font-size: 34px;
    line-height: 32px;
    color: var(--primary-blue);
    margin-bottom: 10px;
}
.why-choose-section-main-wrapper .content-wrapper p.y-title{
    font-size: 22px;
    color: var(--secondary-yelllow);
    margin-bottom: 20px;
}
.why-choose-section-main-wrapper .content-wrapper p.des{
    font-size: 16px;
    color: var(--para-color);
    margin-bottom: 25px;
}
.why-choose-section-main-wrapper .content-wrapper .body-btn .book-now-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-choose-section-main-wrapper .thumbnil-wrapper .image img{
    position: absolute;
    right: -70px;
    top: -165px;
    transform: scale(1.2);
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item{
    padding: 30px;
    min-height: 500px;
    margin-bottom: 30px;
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item.item-1{
    background-image: url("../image/d-ex-item-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item.item-2{
    background-image: url("../image/d-ex-item-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item.item-3{
    background-image: url("../image/d-ex-item-3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item.item-4{
    background-image: url("../image/d-ex-item-4.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item .icon{
    margin-bottom: 30px;
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item h1{
    font-size: 26px;
    margin-bottom: 20px;
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item .des{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.025em;
    color: #4F5562;
}
.client-section-main-wrapper{
    width: 100%;
    height: 226px;
    background: #FFF2DD;
}
.client-section-main-wrapper .client-items{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.footer-main-wrapper{
    background: #FFFDF8;
    padding-top:100px ;
}
.footer-main-wrapper .footer-col{
    display: flex;
}
.footer-main-wrapper .footer-col .footer-contact{
    width: 420px;
}
.footer-main-wrapper .footer-col .footer-contact ul{
    margin-bottom: 30px;
}
.footer-main-wrapper .footer-col .footer-contact ul li{
    margin-bottom: 20px;
}
.footer-main-wrapper .footer-col .footer-contact ul li span.name{
    font-size: 18px;
    color: var(--primary-blue);
}
.footer-main-wrapper .footer-col .footer-contact ul li .icon-title{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-main-wrapper .footer-col .footer-contact .social-icons{
    display: flex;
    gap: 13px;
}
.footer-main-wrapper .footer-col .footer-contact .social-icons .icon{
    width: 45px;
    height: 45px;
    background: #FFEACF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.footer-main-wrapper .footer-col .footer-contact .social-icons .icon span{
    color: var(--secondary-yelllow);
    transition: all 0.5s ease-in-out;
}
.footer-main-wrapper .footer-col .footer-contact .social-icons .icon:hover{
    background: var(--secondary-yelllow);
}
.footer-main-wrapper .footer-col .footer-contact .social-icons .icon:hover span{
    color: #fff;
}
.footer-main-wrapper .footer-col .footer-grid{
    flex: 1 1 0;
}
.footer-main-wrapper .footer-col .footer-grid .footer-grid-item ul li .item-name{
    font-size: 20px;
    margin-bottom: 22px;
    display: inline-block;
    color:var(--para-color);
    transition: all 0.5s ease-in-out;
}
.footer-main-wrapper .footer-col .footer-grid .footer-grid-item ul li .item-name:hover{
    color: var(--secondary-yelllow);
}
.footer-main-wrapper .footer-col h2{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 40px;
}
.footer-main-wrapper .footer-copyright{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px  solid #DFE6E3;
    margin-top: 60px;
}
.footer-main-wrapper .footer-copyright .text{
    font-size: 18px;
     color: #717081;
}
/*package*/
.header-wrapper.header-two{
    width: 100%;
    height: 740px;
}
.header-wrapper.header-two .hero-section-wrapper{
    width: 100%;
    background-image: url("../image/hero-bg-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    align-items: center;
}
.package-include-wrapper-main{
    margin-top: 90px;
}
.package-include-wrapper-main .package-wapper{
    width: 100%;
    height: 494px;
    background-image: url("../image/package-include.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:64px ;
    padding-left: 78px;
}
.package-include-wrapper-main .package-wapper p{
    font-size: 61px;
    color: var(--secondary-yelllow);
    font-weight: bolder;
    line-height: 58px;
}
.package-include-wrapper-main .package-wapper p span{
    font-size: 36px;
    text-transform: uppercase;
}
.package-include-wrapper-main .package-wapper h2{
    font-size: 46px;
    color: white;
    font-weight: bolder;
    margin-bottom: 30px;
}
.package-include-wrapper-main .package-wapper ul li{
    display: flex;
    gap: 13px;
    align-items: center;
    margin-bottom: 10px;
}
.package-include-wrapper-main .package-wapper ul li .title{
    font-size: 22px;
    display: inline-block;
    color: white;
}
.car-booking-step-wrapper.choose-section-wrapper .step-wrapper .step-item.step-item-2{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 440px;
}
.car-booking-step-wrapper .step-wrapper .step-item.step-item-2.item-1{
    background-image: url("../image/gradient-bg-4.png");
}
.car-booking-step-wrapper .step-wrapper .step-item.step-item-2.item-2{
    background-image: url("../image/gradient-bg-5.png");
}
.car-booking-step-wrapper.choose-section-wrapper .step-item.step-item-2 .item-content  h1{
    font-weight: 800 !important;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

