@font-face {
    font-family: Gilroy-eBold;
    src: url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
}
@font-face {
    font-family: Gilroy-light;
    src: url("../fonts/Gilroy-Light.otf") format("opentype");
}
@font-face {
    font-family: Product-sans-bold;
    src: url("../fonts/Product-Sans-Bold.ttf")
    format("opentype");
}
@font-face {
    font-family: Product-sans-bold-italic;
    src: url("../fonts/Product-Sans-Bold-Italic.ttf")
    format("opentype");
}
@font-face {
    font-family: Product-sans-italic;
    src: url("../fonts/Product-Sans-Italic.ttf")
    format("opentype");
}
@font-face {
    font-family: Product-sans-regular;
    src: url("../fonts/Product-Sans-Regular.ttf")
    format("opentype");
}
/*default*/
:root{
    --primary-blue:#17214D;
    --secondary-yelllow:#F4A640;
    --para-color:#555185
}
* {
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Product-sans-regular', serif;
    font-weight:normal;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-decoration: inherit;
    transition: inherit;
    vertical-align: baseline;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-blue);
    font-family: 'Gilroy-eBold', serif;
    text-transform: capitalize;
}
p{
    margin: 0;
    padding: 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

a,
button {
    cursor: pointer;
    display: inline-block;
    appearance: none;
    background: none;
    border:none
}
input{
    appearance: none;
    border: none;
}
input:focus{
    outline: none;
}
img {
    max-width: 100%;
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border: 1px solid #d8d5d5;
    padding: 3px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f4a640;
    border-radius: 10px;
}
.container-x{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}
.btn-yellow {
    background: var(--secondary-yelllow);
    font-family: 'Gilroy-eBold', serif;
    font-size: 16px;
    font-weight: 800;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-blue);
    transition: all 300ms ease-in;
}
.btn-yellow::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #ffa72c;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.btn-yellow:hover {
    cursor: pointer;
    color: #161616;
    transform: scale(1.05);
}

.btn-yellow:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}
.book-now-btn{
    width: 164px;
    height: 72px;
}
/*hero*/
.header-wrapper{
    width: 100%;
    height: 1056px;
    position:relative;
    display: flex;
    align-items: center;
}
.header-wrapper img.hero-img{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-wrapper-main{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.header-wrapper .nav-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 0 214px;
    position: relative;
}
.header-wrapper .nav-wrapper .logo{
    position: absolute;
    left: calc(50% - 144px);
    top: 0;
    z-index: 20;
    width: 280px;
    height: 101px;
}
.header-wrapper .nav-wrapper :is(.first-nav-wrapper .fnav-items-wrapper, .second-nav-wapper .snav-items-wrapper){
    display: flex;
}
.header-wrapper .nav-wrapper :is(.first-nav-wrapper .fnav-items-wrapper .nav-item, .second-nav-wapper .snav-items-wrapper .nav-item){
    padding: 20px 20px;
    font-size: 18px;
    font-family: "Product-sans-bold", serif;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
    border-bottom: 2px solid transparent;
    transition: all 0.5s ease;

}
.header-wrapper .nav-wrapper :is(.first-nav-wrapper .fnav-items-wrapper .nav-item:hover, .second-nav-wapper .snav-items-wrapper .nav-item:hover){
    color: var(--primary-blue);
    border-bottom:2px solid var(--primary-blue);

}
.header-wrapper .nav-wrapper .second-nav-wapper{
    display: flex;
}
.header-wrapper .nav-wrapper .second-nav-wapper .book-now-btn{
    margin-left: 30px;
}
.header-wrapper .nav-wrapper .first-nav-wrapper .fnav-items-wrapper .nav-item:first-child{
    padding-left: 0;
}
.header-wrapper .hero-section-wrapper{
    width: 100%;
    display: flex;
    justify-content: end;
    padding:0 214px;
    position: relative;
    /*background-image: url("../image/hero-bg-1.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    height: 100%;
    align-items: center;
}
.header-wrapper .nav-wrapper img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    object-fit: cover;
}
.header-wrapper .hero-section-wrapper .content-wrapper{
    transform: translateX(30px);
    margin-top: 145px;
    position: relative;
    z-index: 10;
}
.header-wrapper .hero-section-wrapper .content-wrapper h1{
    font-weight: 800;
    font-size: 70px;
    line-height: 82px;
    margin-bottom:40px ;
}
.header-wrapper .hero-section-wrapper .content-wrapper p{
    font-weight: 400;
    font-size: 22px;
    color: var(--primary-blue);
    margin-bottom:20px ;
}
.search-wrapper .tab-btn-wrap{
    width: 170px;
    height: 40px;
    border-radius: 4px 4px 0 0;
    display: flex;
    overflow: hidden;
}
.search-wrapper .tab-btn-wrap .tab-btn{
    width: 50%;
    font-size: 16px;
    background: var(--secondary-yelllow);
    opacity: 0.54;
    color: var(--primary-blue);
    font-family: 'Product-sans-regular', serif;
}
.search-wrapper .tab-btn-wrap .tab-btn.active{
    font-family: 'Gilroy-eBold', serif;
    opacity: 100;
}
.search-wrapper .search-bar{
    width: 534px;
    height: 80px;
    background: white;
    border-radius: 0 4px 4px 4px;
    overflow: hidden;
    position: relative;
}
.search-wrapper.search-for-tab .search-bar{
    box-shadow: 0px 25px 63px rgb(0 0 0 / 10%);
    margin-bottom: 14px;
}
.search-wrapper .search-bar .search-input{
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding: 10px 90px 10px 25px;
}
.search-wrapper .search-bar .search-input::placeholder{
    opacity: 0.6;
    font-weight: 400;
}
.search-wrapper .search-bar .search-btn{
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 4px;
    width: 72px;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-yelllow);
}
.car-booking-step-wrapper{
    width: 100%;
    padding: 70px 0;
}
.car-booking-step-wrapper .section-title{
    margin-bottom: 50px;
}
.car-booking-step-wrapper .section-title h1{
    font-weight: 800 !important;
    font-size: 46px;
    color: var(--primary-blue);
    text-align: center;
    margin-bottom: 10px;
}
.car-booking-step-wrapper .section-title p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    color: var(--para-color);
}
.car-booking-step-wrapper .step-wrapper .step-item{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: end;
    padding-bottom: 60px;
}
.car-booking-step-wrapper .step-wrapper .step-item.item-1{
    background-image: url("../image/gradient-bg-1.png");
}
.car-booking-step-wrapper .step-wrapper .step-item.item-2{
    background-image: url("../image/gradient-bg-2.png");
}
.car-booking-step-wrapper .step-wrapper .step-item.item-3{
    background-image: url("../image/gradient-bg-3.png");
}
.car-booking-step-wrapper .step-item .item-content{
    padding: 0 30px;
}
.car-booking-step-wrapper .step-item .item-content  h1{
    font-weight: 800 !important;
    font-size: 24px;
    margin-bottom: 20px;
}
.car-booking-step-wrapper .step-item .item-content ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    transition: transform 300ms ease-in-out;
    transform: scale(1);
}
.car-booking-step-wrapper .step-item .item-content ul li:hover{
    transform: scale(1.05);
}
.car-booking-step-wrapper .step-item.item-1 .item-content ul li .icon{
    color: #F95A5A;
}
.car-booking-step-wrapper .step-item.item-2 .item-content ul li .icon{
    color: #FAB726;
}
.car-booking-step-wrapper .step-item.item-3 .item-content ul li .icon{
    color: #2BC48A;
}
.car-booking-step-wrapper .step-item .item-content ul li .icon svg{
    fill: currentColor;
}
.car-booking-step-wrapper .step-item .item-content ul li p{
    font-size: 18px;
    color: var(--para-color);
    line-height: 40px;
}
.car-driving-test-main-wrapper{
    width: 100%;
    height: 850px;
    background-image:url("../image/driving-test-bg.png") ;
    background-repeat: no-repeat;
    background-size: contain;
}
.car-driving-test-main-wrapper .thumbnil-wrapper .img-wrapper img{
    position: absolute;
    left: -150px;
    top: -230px;
    transform: scale(1.4);
}
.car-driving-test-main-wrapper .content-wrapper .test-pkg-btn{
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--primary-blue);
}
.car-driving-test-main-wrapper .content-wrapper h1{
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 30px;
}
.car-driving-test-main-wrapper .content-wrapper ul{
    margin-bottom: 45px;
}
.car-driving-test-main-wrapper .content-wrapper ul li{
    display: flex;
    gap: 13px;
    align-items: center;
    margin-bottom: 10px;
}
.car-driving-test-main-wrapper .content-wrapper ul li .icon{}
.car-driving-test-main-wrapper .content-wrapper ul li .title{
    font-size: 22px;
    display: inline-block;
    color: var(--primary-blue);
}
.car-driving-test-main-wrapper .content-wrapper .section-btn{
    margin-bottom: 12px;
}
.car-driving-test-main-wrapper .content-wrapper p{
    font-size: 16px;
    color: var(--para-color);
    line-height: 29px;
}
.why-choose-section-main-wrapper{
    background-image: url("../image/choose-section-bg.png");
    background-repeat: no-repeat;
    padding: 70px 0;
}
.why-choose-section-main-wrapper .content-wrapper h1{
    font-size: 46px;
    line-height: 48px;
    font-weight: bold;
    color: var(--primary-blue);
    margin-bottom: 16px;
}
.why-choose-section-main-wrapper .content-wrapper .small-title{
    font-size: 34px;
    line-height: 32px;
    color: var(--primary-blue);
    margin-bottom: 10px;
}
.why-choose-section-main-wrapper .content-wrapper p.y-title{
    font-size: 22px;
    color: var(--secondary-yelllow);
    margin-bottom: 20px;
    text-transform: capitalize;
}
.why-choose-section-main-wrapper .content-wrapper p.des{
    font-size: 17px;
    color: var(--para-color);
    margin-bottom: 25px;
}
.why-choose-section-main-wrapper .content-wrapper .body-btn .book-now-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-choose-section-main-wrapper .thumbnil-wrapper .image img{
    position: absolute;
    right: -70px;
    top: -165px;
    transform: scale(1.2);
}
.car-booking-step-wrapper.driving-section-wrapper .section-title p{
    font-size: 24px;
    color: var(--para-color);
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item{
    padding: 30px;
    min-height: 500px;
    margin-bottom: 30px;
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item.item-1{
    background-image: url("../image/d-ex-item-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item.item-2{
    background-image: url("../image/d-ex-item-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item.item-3{
    background-image: url("../image/d-ex-item-3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item.item-4{
    background-image: url("../image/d-ex-item-4.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item .icon{
    margin-bottom: 30px;
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item h1{
    font-size: 26px;
    margin-bottom: 20px;
}
.car-booking-step-wrapper.driving-section-wrapper .driving-ex-item .des{
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.025em;
    color: #4F5562;
}
.client-section-main-wrapper{
    width: 100%;
    height: 226px;
    background: #FFF2DD;
}
.client-section-main-wrapper .client-items{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 80px;
    height: 100%;
}
.footer-main-wrapper{
    background: #FFFDF8;
    padding-top:100px ;
}
.footer-main-wrapper .footer-col{
    display: flex;
}
.footer-main-wrapper .footer-col .footer-contact{
    width: 420px;
}
.footer-main-wrapper .footer-col .footer-contact ul{
    margin-bottom: 30px;
}
.footer-main-wrapper .footer-col .footer-contact ul li{
    margin-bottom: 20px;
}
.footer-main-wrapper .footer-col .footer-contact ul li span.name{
    font-size: 18px;
    color: var(--primary-blue);
}
.footer-main-wrapper .footer-col .footer-contact ul li .icon-title{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-main-wrapper .footer-col .social-icons{
    display: flex;
    gap: 13px;
}
.footer-main-wrapper .footer-col  .social-icons .icon {
    color: var(--secondary-yelllow);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffeacf;
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 10%);
    cursor: pointer;
    font-size: 30px;
    transition: transform 100ms ease-in-out;
}
.footer-main-wrapper .footer-col  .social-icons .icon:hover{
    transform: scale(1.2);
}
.footer-main-wrapper .footer-col  .social-icons .icon svg{
    width: 30px;
    height: 30px;
    fill: currentColor;
}
.footer-main-wrapper .footer-col .footer-contact .social-icons .icon span{
    color: var(--secondary-yelllow);
    transition: all 0.5s ease-in-out;
}
.footer-main-wrapper .footer-col .footer-contact .social-icons .icon:hover{
    background: var(--secondary-yelllow);
}
.footer-main-wrapper .footer-col .footer-contact .social-icons .icon:hover span{
    color: #fff;
}
.footer-main-wrapper .footer-col{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer-main-wrapper .footer-col .footer-grid{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.footer-main-wrapper .footer-col .footer-grid .footer-grid-item ul li .item-name{
    font-size: 20px;
    margin-bottom: 22px;
    display: inline-block;
    color:var(--para-color);
    transition: all 0.5s ease-in-out;
}
.footer-main-wrapper .footer-col .footer-grid .footer-grid-item ul li .item-name:hover{
    color: var(--secondary-yelllow);
}
.footer-main-wrapper .footer-col h2{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 40px;
}
.footer-main-wrapper .footer-copyright{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px  solid #DFE6E3;
    margin-top: 60px;
}
.footer-main-wrapper .footer-copyright .text{
    font-size: 18px;
     color: #717081;
}
/*package*/
.header-wrapper.header-two{
    width: 100%;
    height: 740px;
}
.header-wrapper.header-two .hero-section-wrapper{
    width: 100%;
    background-image: url("../image/hero-bg-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    align-items: center;
}
.package-include-wrapper-main{
    margin-top: 90px;
}
.package-include-wrapper-main .package-wapper{
    width: 100%;
    height: 494px;
    background-image: url("../image/package-include.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:64px ;
    padding-left: 78px;
}
.package-include-wrapper-main .package-wapper p{
    font-size: 61px;
    color: var(--secondary-yelllow);
    font-weight: bolder;
    line-height: 58px;
    font-family: "Gilroy-eBold", serif;
}
.package-include-wrapper-main .package-wapper p span{
    font-size: 36px;
    text-transform: uppercase;
}
.package-include-wrapper-main .package-wapper h2{
    font-size: 46px;
    color: white;
    font-weight: bolder;
    margin-bottom: 30px;
}
.package-include-wrapper-main .package-wapper ul li{
    display: flex;
    gap: 13px;
    align-items: center;
    margin-bottom: 30px;
    transition: transform 180ms ease-in-out;
}
.package-include-wrapper-main .package-wapper ul li:hover{
    transform: scale(1.04);
}
.package-include-wrapper-main .package-wapper ul li .title{
    font-size: 20px;
    display: inline-block;
    color: white;
    font-weight:400;
    font-family: 'Product-sans-regular', serif;
}
.car-booking-step-wrapper.choose-section-wrapper .step-wrapper .step-item.step-item-2{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 440px;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 40px;
    transition: transform 180ms ease-in-out;
}
.car-booking-step-wrapper.choose-section-wrapper .step-wrapper .step-item.step-item-2:hover{
    transform: scale(1.05);
}
.car-booking-step-wrapper .step-wrapper .step-item.step-item-2.item-1{
    background-image: url("../image/gradient-bg-4.svg");
}
.car-booking-step-wrapper .step-wrapper .step-item.step-item-2.item-2{
    background-image: url("../image/gradient-bg-5.svg");
}
.car-booking-step-wrapper.choose-section-wrapper .step-item.step-item-2 .item-content  h1{
    font-weight: 800 !important;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}
.desk-search{
   padding: 0 65px;
}
.search-wrapper.search-for-tab .search-bar{
    width: 100%;
}

.search-container {
    display: flex;
    align-items: center;
    padding: 4px 6px;
    background: #ffffff;
    width: 445px;
    height: 68px;
    border-radius: 0px 4px 4px 4px;
    border: 1px solid #f7f7f7;
    box-shadow: 0px 25px 63px rgba(0, 0, 0, 0.1);
}

.search-container > input {
    border: none;
    outline: none;
    font-family: Product-sans-regular;
    font-size: 18px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.6;
    flex: 1;

    padding-left: 13.5px;
}

.search-container > button {
    width: 60.39px;
    height: 58px;
    background: #f4a640;
    outline: none;
    border: none;
    color: #17214d;
    font-size: 31px;
    border-radius: 4px;
    transition: background 0.5s ease;
    padding: 12px 1.89px 3px 6.07px;
}

.search-container > button:hover {
    background: #e69934;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border: 1px solid #d8d5d5;
    padding: 3px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f4a640;
    border-radius: 10px;
}

.suburb-list {
    position: absolute;
    z-index: 1;
    list-style: none;
    margin: 0px;
    padding: 20px;
    font-size: 15px;
    background-color: white;
    border: 1px solid #f7f7f7;
    border-radius: 0px 0px 4px 4px;
    width: 445px;
    max-height: 220px;
    overflow-y: scroll;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.suburb-item {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 0px;
    font-family: Product-sans-regular;
    border-bottom: 1px solid rgb(240, 239, 239);
}

.suburb-item:hover {
    cursor: pointer;
    background-color: #ecbd7f;
    border-radius: 5px;
    border-bottom: 1px solid #e2a14d;
}
.test-with_lesson h5 {
    font-family: "Gilroy-eBold";
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 82px;
    text-transform: capitalize;
    color: #17214d;
    text-align: center;
}

/*  */
/*  */
/*  */

.test-only p {
    font-family: "Product-sans-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #555185;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.test-only h5 {
    font-family: "Gilroy-eBold";
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 82px;
    text-transform: capitalize;
    color: #17214d;
    text-align: center;
}

.test-only h6 {
    font-family: "Gilroy-eBold";
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 72px;
    text-transform: capitalize;
    color: #17214d;
    text-align: center;
}
.select-area_container {
    display: flex;
}

.select-area_container > button {
    margin-left: 10px;
    padding: 5px 12px 0px 12px;
    transition: background 0.5s ease;
    outline: none;
    border: 0px;
    background: #f4a640;
    border-radius: 4px;
}
.area-search_icon {
    color: #17214d;
    font-size: 31px;
}
.select-area_container > button:hover {
    background: #e69934;
}

.select-area {
    flex: 1;
    padding: 14px 16px;
    background: #ffffff;
    border-radius: 0px 4px 4px 4px;
    border: 1px solid #f7f7f7;
    box-shadow: 0px 25px 63px rgba(0, 0, 0, 0.1);
    font-family: Product-sans-regular;
    color: #6b6b6b;
    background-color: white;
}
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E") !important ;
    background-size: 0.6em !important ;
    background-position: calc(100% - 1.3em) center !important ;
    background-repeat: no-repeat !important ;
}

.choose {
    max-width: 1600px;
    margin: auto;
}
.choose h4 {
    font-family: "Gilroy-eBold";
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 75px;
    text-align: center;
    text-transform: capitalize;
    color: #2d2563;
    margin-top: 102px;
}
.choose_packages {
    display: flex;
    justify-content: center;
}
.choose_packages > div {
    max-width: 606px;
    margin: 30px;
    position: relative;
    transition: transform 300ms ease-in-out;
    border: 1px solid transparent;
    cursor: pointer;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0);
}
.choose_packages > div > img {
    width: 100%;
}

.choose_packages-click-green {
    transform: scale(1.05);
    border: 1px solid #3bc993 !important;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}
.choose_packages-click-blue {
    transform: scale(1.05);
    border: 1px solid #7896e2 !important;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}
.choose_packages > div:hover {
    transform: scale(1.05);
}
/* .choose_packages > div > h6 {
  font-family: "Gilroy-eBold";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  color: #0a0951;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 65px;
  margin: 0 auto;
} */
.choose-1 {
    /* border: 1px solid rgb(227, 226, 226); */
    width: 50%;
    padding: 20px 0px;
    border-radius: 10px;
    margin: 40px auto 40px auto;
    /* box-shadow: inset 0px 11px 31px -8px rgba(0, 0, 0, 0.1); */
}
.choose-2 {
    width: 50%;
    padding: 20px 0px;
    border-radius: 10px;
    margin: 40px auto 40px auto;
    /* box-shadow: inset 0px 11px 31px -8px rgba(0, 0, 0, 0.1); */
}
@media (max-width: 1366px) {
    .choose_packages > div {
        max-width: 564px;
        margin: 15px;
    }
}
@media (max-width: 1200px) {
    .choose_packages > div {
        max-width: 453px;
        margin: 12px;
    }
}
@media (max-width: 1070px) {
    .choose-1,
    .choose-2 {
        /* border: 1px solid rgb(227, 226, 226); */
        width: 80%;
        padding: 20px 0px;
        border-radius: 10px;
        margin: 40px auto 40px auto;
        /* box-shadow: inset 0px 11px 31px -8px rgba(0, 0, 0, 0.1); */
    }
}
@media (max-width: 900px) {
    .choose h4 {
        font-size: 23px;
        line-height: 20px;
        margin-top: 43px;
    }
    .choose_packages > div {
        max-width: 298px;
        margin: 12px;
    }
}
@media (max-width: 615px) {
    .choose-1,
    .choose-2 {
        /* border: 1px solid rgb(227, 226, 226); */
        width: 95%;
        padding: 20px 0px;
        border-radius: 10px;
        margin: 40px auto 40px auto;
        /* box-shadow: inset 0px 11px 31px -8px rgba(0, 0, 0, 0.1); */
    }
}
@media (max-width: 540px) {
    .choose_packages {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 516px) {
    .desk-search {
        width: fit-content;
    }
    .toogle-buttons {
        display: flex;
    }

    .toogle-buttons button:first-child {
        border-radius: 4px 0px 0px 0px;
        padding: 3px 15px 2px 10px;
        width: 54px;
    }

    .toogle-buttons button:nth-child(2) {
        border-radius: 0px 4px 0px 0px;
        border-left: 1px solid white;
        padding: 4px 11px 4px 12px;
        width: 71px;
    }

    .toogle-btn {
        background-color: rgba(244, 166, 64, 0.5);
        font-weight: 300;
        font-size: 13px;
        line-height: 13px;
        color: #17214d;
        opacity: 0.54;
        border: none;
        height: 24px;
        font-style: normal;
        font-family: Gilroy-light;
        -webkit-transition: background-color 0.9s ease-out;
        -moz-transition: background-color 0.9s ease-out;
        -o-transition: background-color 0.9s ease-out;
        transition: background-color 0.9s ease-out;
    }
    .toogle-btn:hover {
        background: #e6a959;
    }

    .toogle-btn:focus {
        outline: none;
    }

    .btn-active {
        font-weight: 800 !important;
        background: #f4a640;
        opacity: 10;
        font-family: Product-sans-bold;
        font-style: normal;
    }

    .search-container {
        display: flex;
        align-items: center;
        padding: 4px 5.5px;
        background: #ffffff;
        width: 275px;
        height: 52px;
        border-radius: 0px 4px 4px 4px;
        border: 1px solid #f7f7f7;
        box-shadow: 0px 25px 63px rgba(0, 0, 0, 0.1);
    }

    .search-container > input {
        border: none;
        outline: none;
        font-family: Product-sans-regular;
        font-size: 14px;
        line-height: 14px;
        font-style: normal;
        font-weight: 400;
        opacity: 0.6;
        flex: 1;

        padding-left: 2.5px;
    }

    .search-container > button {
        width: 44.39px;
        height: 41px;
        background: #f4a640;
        outline: none;
        border: none;
        color: #17214d;
        font-size: 24px;
        border-radius: 4px;
        transition: background 0.5s ease;
        padding: 6px 2.89px 2px 6.07px;
    }

    .search-container > button:hover {
        background: #e69934;
    }

    .suburb-list {
        list-style: none;
        margin: 0px;
        padding: 20px;
        font-size: 15px;
        background-color: white;
        border: 1px solid #f7f7f7;
        border-radius: 0px 0px 4px 4px;
        width: 275px;
    }
    .suburb-item {
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 5px;
        font-family: Product-sans-regular;
    }
    .suburb-item:hover {
        cursor: pointer;
        background-color: #ecbd7f;
    }
    .test-with_lesson h5 {
        font-size: 26px;
        line-height: 56px;
    }

    /*  */
    /*  */
    /*  */

    .test-only p {
        font-family: "Product-sans-regular";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        color: #555185;
        margin-top: 20px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .test-only h5 {
        font-size: 26px;
        line-height: 40px;
    }

    .test-only h6 {
        font-family: "Gilroy-eBold";
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 50px;
        text-transform: capitalize;
        color: #17214d;
        text-align: center;
    }
    .select-area_container {
        display: flex;
    }

    .select-area_container > button {
        margin-left: 10px;
        padding: 5px 7px 0px 7px;
        transition: background 0.5s ease;
        outline: none;
        border: 0px;
        background: #f4a640;
        border-radius: 4px;
    }
    .area-search_icon {
        color: #17214d;
        font-size: 24px;
    }
    .select-area_container > button:hover {
        background: #e69934;
    }

    .select-area {
        flex: 1;
        padding: 7px 10px;
        background: #ffffff;
        border-radius: 0px 4px 4px 4px;
        border: 1px solid #f7f7f7;
        box-shadow: 0px 25px 63px rgba(0, 0, 0, 0.1);
        font-family: Product-sans-regular;
        color: #6b6b6b;
        background-color: white;
        font-size: 12px;
    }
    select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        outline: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E") !important ;
        background-size: 0.6em !important ;
        background-position: calc(100% - 1.3em) center !important ;
        background-repeat: no-repeat !important ;
    }
}
@media (max-width: 400px) {
    .choose h4 {
        font-size: 19px;
        line-height: 8px;
        margin-top: 39px;
    }
    .choose_packages > div {
        max-width: 226px;
        margin: 12px;
    }
}

/*driving lessions*/
.header-wrapper.header-three{
    width: 100%;
    height: 825px;
}
.header-wrapper.header-three .nav-wrapper .second-nav-wapper .snav-items-wrapper .nav-item{
    color: var(--primary-blue);
}
.header-wrapper.header-three .hero-section-wrapper{
    width: 100%;
    background-image: url("../image/hero-bg-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    align-items: center;
}
.header-wrapper.header-three .hero-section-wrapper{
    justify-content: start;
}
.header-wrapper.header-three .hero-section-wrapper h1{
    color: var(--secondary-yelllow);
    font-weight: bold;
    font-size: 140px;
    text-transform: uppercase;
    line-height: 154px;
}
.booking-section-main-wrapper{
    margin: 60px 0;

}
.save-section-main-wrapper .section-title,
.booking-section-main-wrapper .section-title{
    font-size: 46px;
    font-weight: 800;
    line-height: 75px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: capitalize;
}
.booking-section-main-wrapper .content-wrapper{
    width: 100%;
    height: 730px;
    display: flex;
    padding-left:214px ;
}
.booking-section-main-wrapper .content-wrapper .img{
    width:405px;
    height: 100%;
}
.booking-section-main-wrapper .content-wrapper .main-content{
    width: 925px;
    height: 100%;
    background: #1A4661;
    padding-left:50px ;
    padding-top: 60px;
    padding-right: 40px;
}
.booking-section-main-wrapper .content-wrapper .img img{
    width: 100%;
    height: 100%;
}
.booking-section-main-wrapper .content-wrapper .main-content ul.tab-btn{
    display: flex;
    gap: 55px;
    align-items: center;
    border-bottom: 1px solid #335A72;
    margin-bottom: 33px;
}
.booking-section-main-wrapper .content-wrapper .main-content ul.tab-btn li{
    font-size: 28px;
    color: var(--secondary-yelllow);
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 36px;
}
.booking-section-main-wrapper .content-wrapper .main-content ul.tab-btn li::before{
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    background: url("../image/booking-step.png");
}
.booking-section-main-wrapper .content-wrapper .main-content .online-dashboard h2{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}
.booking-section-main-wrapper .content-wrapper .main-content .online-dashboard ul{
    padding-bottom: 44px;
    border-bottom: 1px solid #335A72;
    margin-bottom: 33px;
}
.booking-section-main-wrapper .content-wrapper .main-content .online-dashboard ul li{
    font-size: 22px;
    color: white;
    margin-bottom: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: transform 0.4s;
}
.booking-section-main-wrapper .content-wrapper .main-content .online-dashboard ul li:hover{
    transform: scale(1.04);
}
.booking-section-main-wrapper .content-wrapper .main-content .online-dashboard ul li::before{
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    background-image: url("../image/fill-arrow-ico.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.booking-section-main-wrapper .content-wrapper .main-content .online-dashboard.booking-confidence ul{
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom:0;
}

.booking-section-main-wrapper .content-wrapper .main-content .online-dashboard.booking-confidence ul li::before{
    background-image: url("../image/fill-arrow-ico-2.png");
    width: 23px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}
.save-section-main-wrapper .content-wrapper{
    width: 100%;
    height: 944px;
    margin-bottom: 60px;
}
.save-section-main-wrapper .content-wrapper .img{
    position: absolute;
    right: 0;
    top: 0;
}
.save-section-main-wrapper .content-wrapper  .avatar-img{
    position: absolute;
    right: 233px;
    bottom: 0;
}
.driving-lesson-main-wrapper{
    width: 100%;
    height: 385px;
    background-image: url("../image/driving-section-bg.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.driving-lesson-main-wrapper .section-title{
    margin-bottom: 16px;
}
.driving-lesson-main-wrapper .img img{
    object-fit: contain;
}
.book-now-btn-small{
    width: 140px;
    height: 45px;
}
.nav-wrapper-main .mobile-nav-wrapper{
    display: none;
}
/* TODO: ===============RESPONSIVE */
@media (max-width: 1440px) {
    .header-wrapper .hero-section-wrapper{
        padding: 0 100px;
    }
    .header-wrapper .nav-wrapper{
        padding: 0 100px;
    }
    .header-wrapper{
        height: 792px;
    }
}
@media (max-width: 1024px) {
    .header-wrapper{
        height: 563px;
    }
    .header-wrapper .hero-section-wrapper .content-wrapper h1{
        font-size:46px;
        line-height: 50px;
        margin-bottom: 10px;
    }
    .header-wrapper .hero-section-wrapper .content-wrapper p{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 10px;
    }
    .search-wrapper .tab-btn-wrap{
        width: 140px;
        height: 30px;
    }
    .search-wrapper .search-bar{
        width: 350px;
        height: 50px;
    }
    .search-wrapper .search-bar .search-btn{
        width: 50px;
        height: 46px;
        top: 2px;
        right: 2px;
    }
    .search-wrapper .search-bar .search-btn svg{
        width: 30px;
        height: 20px;
    }
    .search-wrapper .search-bar .search-input {
        padding: 5px 60px 5px 5px;
    }
    .nav-wrapper-main .nav-wrapper{
        display: none;
    }
    .nav-wrapper-main .mobile-nav-wrapper{
        width: 100%;
        position:absolute;
        left: 0;
        display: flex;
        justify-content: space-between;
        top: 24px;
    }
    .nav-wrapper-main .mobile-nav-wrapper .logo img{
        width: 180px;
        height: 62px;

    }
    .nav-wrapper-main .mobile-nav-wrapper .logo img{
        object-fit: contain;
    }
    .nav-wrapper-main .mobile-nav-wrapper .book-now-btn-drawer{
        display: flex;
        gap: 13px;
        align-items: center;
        margin-right: 60px;
    }
    .nav-wrapper-main .mobile-nav-wrapper .book-now-btn-drawer .drawer-btn{
        display: flex;
        width: 66px;
        height: 57px;
        justify-content: center;
        align-items: center;
        background: #2D2563;
        border-radius: 3px;
    }
    .book-now-btn-lg{
        width: 137px;
        height: 60px;
    }
    .nav-wrapper-main .mobile-nav-wrapper img{
        position:absolute ;
        top: 0;
        left: calc(50% - 90px);
    }
}
@media (max-width: 768px) {
    .book-now-btn-lg{
        width: 70px;
        height: 30px;
        font-size: 11px;
    }
    .nav-wrapper-main .mobile-nav-wrapper .book-now-btn-drawer .drawer-btn{
        width: 32px;
        height: 28px;

    }
    .nav-wrapper-main .mobile-nav-wrapper .book-now-btn-drawer .drawer-btn svg{
        width: 18px;
        height: 10px;
    }
    .nav-wrapper-main .mobile-nav-wrapper .logo img{
        width: 96px;
        height: 33px;

    }
    .nav-wrapper-main .mobile-nav-wrapper img{
        position:absolute ;
        top: 0;
        left: calc(50% - 48px);
    }
    .header-wrapper{
        height: 230px;
    }
    .header-wrapper .hero-section-wrapper .content-wrapper h1{
        font-size: 24px;
        line-height: 27px;
    }
    .header-wrapper .hero-section-wrapper .content-wrapper p{
        font-size: 12px;
        line-height: 17px;
    }
    .header-wrapper .search-wrapper{
        position: absolute;
        right: 125%;
        bottom: -52px;
    }
    .header-wrapper .search-wrapper .search-bar{
        border: 1px solid #E7E7E7;
        box-shadow: 0px 25px 63px rgba(0, 0, 0, 0.1);
        height: 40px;
    }
    .search-wrapper .search-bar{
        width: 292px;
    }
    .header-wrapper .hero-section-wrapper .content-wrapper {
        margin-top: 98px;
        margin-right: 50px;
    }
    .nav-wrapper-main .mobile-nav-wrapper .book-now-btn-drawer{
        margin-right: 20px;
    }
    .search-wrapper .search-bar .search-btn{
        width: 30px;
        height: 30px;
        top: 4px;
    }
    .header-wrapper .hero-section-wrapper{
        padding: 0;
    }
    .nav-wrapper-main .mobile-nav-wrapper {
        top: 9px;
    }
    .search-wrapper .tab-btn-wrap{
        height: 26px;
    }

}
@media (max-width: 425px) {
    .header-wrapper .search-wrapper{
        right: calc(25% - 20px);
    }
}


